{% extends 'layout.html' %}

{% block urlContent %}
    <div class="features" style="text-align: center;">
      <h1>Поиск по моделям машин</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Поиск</button>
    </form>

      {% if query %}
        <h2>Результаты поиска</h2>
        <ul>
            {% for item in results %}
            <div class="alert" style="text-align: center;">
            <img width="100" src="{{ item.contactimg.url }}"></img>
            <h3>Марка машины: {{ item.mark }} цена {{ item.price }}</h3>
            <p>Модель машины: {{ item.model }}</p>
            {% if is_customer %}
        <a href="{% url 'add_to_bron' item.id %}" class="btn btn-warning">В заказ</a>
      {% endif %}
            </div>
            {% empty %}
                <li>Ничего не найдено</li>
            {% endfor %}
        </ul>
    {% endif %}

    </div>
{% endblock %}

{% block title %}Поиск{% endblock %}
