{% extends 'layout.html' %}

{% block urlContent %}
<div class="features" style="text-align: center;">
    <h1>Штрафы клиента {{ request.user.username }}</h1><br><br>
    <ul>
        {% for fine in fines %}
            <li>{{ fine.car.model }} - {{ fine.cost }}</li>
        {% endfor %}

    <h2>Штрафы за нарушение условий аренды</h2>
    <dl>
        <dt>Штраф за просрочку возврата</dt>
        <dd>Обычно взимается почасовая или посуточная ставка. Средняя стоимость: 20-50 рублей за час, 100-200 USD за день.</dd>
        
        <dt>Штраф за возврат грязного автомобиля</dt>
        <dd>Дополнительная плата за чистку автомобиля. Средняя стоимость: 20-100 рублей в зависимости от уровня загрязнения.</dd>
    </dl>
    </ul>
</div>
{% endblock %}

{% block title %}Штрафы{% endblock %}