{% extends 'layout.html' %}

{% block urlContent %}
<div class="features" style="text-align: center;">
    <h1>Словарь</h1><br><br>

    <div style="text-align: left; display: inline-block; max-width: 600px; margin: 0 auto;">
        <h2>Термины и понятия о прокате автомобиля</h2>
        <dl>
            <dt>Арендатор</dt>
            <dd>Лицо или компания, берущая автомобиль в аренду на определенный период времени.</dd>
            
            <dt>Арендодатель</dt>
            <dd>Компания, предоставляющая автомобили в аренду.</dd>
            
            <dt>Депозит</dt>
            <dd>Сумма денег, которую арендатор оставляет в залог при аренде автомобиля.</dd>
            
            <dt>Дополнительный водитель</dt>
            <dd>Лицо, кроме основного арендатора, которому разрешено управлять арендованным автомобилем.</dd>
            
            <dt>Лимит пробега</dt>
            <dd>Максимальное количество километров, которое разрешено проехать на арендованном автомобиле в течение срока аренды.</dd>
            
            <dt>Полная страховка</dt>
            <dd>Страховка, покрывающая все возможные риски, связанные с арендой автомобиля, включая ущерб, кражу и аварии.</dd>
            
            <dt>Прокатный автомобиль</dt>
            <dd>Автомобиль, предоставляемый в аренду на определенный период времени.</dd>
            
            <dt>Срок аренды</dt>
            <dd>Период времени, на который арендатор берет автомобиль в аренду.</dd>
            
            <dt>Франшиза</dt>
            <dd>Сумма, которую арендатор должен заплатить в случае повреждения автомобиля или кражи, прежде чем страховая компания покроет остальную часть ущерба.</dd>
            
            <dt>Штраф за просрочку</dt>
            <dd>Сумма, которую арендатор должен заплатить за возврат автомобиля позже оговоренного времени.</dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block title %}Словарь{% endblock %}

